h1
{
text-align:center;
background-color:#aaaaaa;
}
.pembuka
{
padding:10px;
background-color:#aaaaff;
}
.tabel
{
border-style: solid;
background-color:#dddddd;
}
table, th, td 
{
  width: 100%;
  border-style: 1px solid;
}
button
{
  color: green;
  background-color: #aaaaff;
  border-style: 3px solid;
}