:root
{
 --test: #00ff00;
 --background: #aaaaff;
 --bgteks: #7777aa;
}

body
{
 background-color: var(--background);
}
.isi
{
  background-color: var(--bgteks);
  margin-left: 5px;
  padding-left: 5px;
  color: white;
}
h1
{
text-align:center;
background-color: #ccccff;
}
button
{
  color: white;
  background-color: black;
  padding: 10px;
}
.tombol
{
  color: initial;
  background-color: initial;
  padding: initial;
}
button:hover
{
  color: black;
  background-color: white;
  padding: 10px;
}

.luar-grid
{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 
}
.dalam-grid
{
  background-color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid;
}
