body
{
	margin-left: 0.5em;
}
#main-ui
{
	background-color: #dddddd;
	border: 2px solid black;
	border-radius: 10px;
	padding-left: 0.5em;
	padding-right: 0.25em;
	padding-bottom: 1em;
}
.projects
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border-radius: 20px;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: white;
}

button
{
	font-size: 15px;
	padding: 5px;
	color: black;
	background-color: white;
	border: 4px outset black;
	border-radius: 5px;
}
button.clicker
{
	font-size: 15px;
	padding: 20px;
	color: black;
	background-color: white;
	border: 4px outset black;
	border-radius: 5px;
}
button:hover
{
	color: white;
	border: 4px outset blue;
	border-radius: 5px;
}
button:active
{
	color: white;
	background-color: black;
	border: 4px inset blue;
	border-radius: 5px;
}

/* FLOATING BUTTON */
.floating-button
{
	background-color: #00dd00;
	border-radius: 50%;
	text-align: center;
	color: blue;
	width: 75px;
	height: 35px;
	padding-top: 17.5px;
	padding-bottom: 18px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	
	position: fixed;
	right: 30px;
	bottom: 30px;
}
.floating-button:hover
{
	background-color: gray;
}

/* P001:SimpleClicker */
div.P001score
{
	text-align: center;
}
#score
{
	background-color: white;
	font-size: 30px;
	text-align: center;
}

/* Newest Update */
div.newestUpdate
{
	background-color: #999999;
	border-radius: 15%;
	padding-left: 1em;
	padding-bottom: 2em;
}

/* P002:SimpleCalculator */
#CalcuField
{
	width: 45%;
}
@media (max-width: 600px)
{
	#CalcuField
	{
		width: 90%;
	}
}
#calculatorBody
{
	margin-left: 0.75em;
}
.calculatorProject
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	border-radius: 20px;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	background-color: white;
}
.CalcuButton
{
	font-size: 35px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: black;
	color: white;
}
.CalcuButtonSP
{
	font-size: 35px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: yellow;
}
.CalcuButtonC
{
	font-size: 35px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: red;
}
#CalcuField
{
	font-size: 35px;
	background-color: black;
	color: white;
	margin-top: 0.1em;
	margin-bottom: 0px;
	margin-left: 0.5em;
}
#CalcuProcessor
{
	font-size: 35px;
	background-color: black;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
